
.hero {
    height: 100%;
    background-image: url('https://vihanga.dev/static/media/v-sign.581e685d.svg');
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-size: 100% 100%;
    background-position: right center;
}

.container {
    box-sizing: border-box;
    padding: 64px 20%;
}

.header {
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
}

.how_im_i {
    text-align: center;
    font-size: 28px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: -0.03em;
    margin: 16px 0px;
}

.main_title {
    text-align: center;
    max-width: 840px;
    margin-bottom: 48px;
    font-size: 76px;
    line-height: 1.05;
}

.sub_title {
    text-align: center;
    max-width: 540px;
    margin-bottom: 28px;
    font-size: 24px;
    line-height: 1.4;
}

.hero_img {
    border-radius: 50%;
    object-fit: cover;
}

.hero_highlight {
    background-image: url('../public/text-highlight.png');
    background-position: 50% 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.social {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 40px;
}

.social li {
    margin-left: 10px;
    margin-right: 10px;
}

.social li a {
    text-decoration: none;
    color: #000;
}